body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: Muli;
  background: #efefef; }

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none; }

button {
  background: red;
  border-radius: 20px;
  border: none;
  padding: 4px; }

.main {
  padding: 0.1px;
  height: 100%; }
  .main > div:nth-child(2) {
    padding-top: 40px; }

.TopMenu {
  z-index: 10;
  background: #29323c;
  position: fixed;
  width: 100%;
  border-bottom: 0.3px gray solid; }
  .TopMenu * {
    vertical-align: middle; }
  .TopMenu > * {
    display: inline-block;
    margin: 5px 120px; }
  .TopMenu > .search > * {
    margin-right: 5px; }
  .TopMenu > .search input {
    border: white 1px solid;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    padding: 0px 16px;
    background: none;
    color: white; }
  .TopMenu p {
    display: inline-block;
    margin: 5px 2px;
    color: white; }
  .TopMenu img {
    filter: invert(1); }

.Home {
  width: 65%;
  margin: auto;
  text-align: center; }
  .Home .category {
    text-align: center; }
    .Home .category > * {
      display: inline-block; }
      .Home .category > *:not(:last-child) {
        margin-right: 10px; }
    .Home .category img {
      height: 200px; }
  .Home .home-head {
    color: gray;
    margin: 80px 0px 0px 80px;
    text-align: left;
    border-bottom: solid 0.5px; }

.Item {
  display: inline-block;
  margin: 25px;
  width: 200px; }
  .Item:hover {
    border: 1px black solid; }
  .Item .pic {
    height: 230px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .Item .pic > div {
      position: absolute;
      background: white;
      width: 170px;
      height: 170px;
      border-radius: 200px;
      z-index: -1; }
    .Item .pic img {
      max-width: 220px;
      max-height: 240px; }
  .Item section {
    padding: 5px;
    font-family: Muli;
    text-align: left; }
    .Item section > * {
      padding: 0px;
      margin: 2px 0px; }
    .Item section h1 {
      font-weight: 400; }
    .Item section p {
      color: gray; }
    .Item section h3 {
      color: gray;
      font-weight: 400; }

.Detail {
  padding: 20px;
  width: 100%;
  height: 500px;
  position: relative;
  background: gray; }
  .Detail .detail-info {
    padding-top: 100px;
    position: absolute;
    left: 15%;
    right: 55.2%;
    top: 0px; }
    .Detail .detail-info > .detail-price {
      color: green;
      font-size: 1.5em; }
  .Detail button {
    background: red;
    border-radius: 20px;
    border: none;
    padding: 4px;
    margin-right: 10px; }
  .Detail .detail-pic {
    position: absolute;
    right: 15%;
    top: 40px;
    left: 45.2%;
    height: 480px;
    background-repeat: no-repeat;
    background-size: contain; }
    .Detail .detail-pic > img {
      width: 50%; }
  .Detail .size-p {
    display: inline; }

.Cart {
  min-height: 400px;
  width: 70%;
  margin: auto; }
  .Cart .empty {
    font-size: 2em;
    text-align: center; }
  .Cart .cart {
    text-align: left;
    margin-bottom: 5px;
    border-bottom: black 1px dashed;
    padding: 5px; }
    .Cart .cart > * {
      display: inline-block;
      vertical-align: top; }
    .Cart .cart .cart-pic {
      width: 140px;
      height: 140px;
      background: no-repeat;
      background-size: contain; }
    .Cart .cart .quantity {
      color: red;
      float: right;
      margin-right: 140px; }
      .Cart .cart .quantity > * {
        display: inline-block;
        margin-left: 5px; }
    .Cart .cart .cart-price {
      float: right;
      font-size: 2em; }
  .Cart .checkout {
    width: 350px;
    text-align: center;
    margin: 100px auto; }
    .Cart .checkout h2 {
      font-size: 3em;
      text-decoration: underline; }
    .Cart .checkout section {
      clear: both;
      background: gray; }
      .Cart .checkout section:not(:nth-of-type(1)) {
        border-bottom: #e6e6e6 solid; }
      .Cart .checkout section > * {
        display: inline;
        margin: 8px 0px;
        font-size: 2em; }
      .Cart .checkout section > :first-child {
        float: left; }
      .Cart .checkout section > :last-child {
        float: right; }
    .Cart .checkout button {
      clear: both;
      display: block;
      margin: auto;
      margin-top: 120px;
      font-size: 1.5em; }

.footer {
  background: #323232;
  width: 100%;
  padding: 15px 200px;
  color: gray;
  clear: both; }
  .footer li {
    list-style: none;
    font-size: 1em;
    margin-bottom: 12px; }
    .footer li:hover {
      color: white; }
